<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs")%>
        <%- include("partials/sidebar.ejs") %>
            <div class="column is-8" id="breetList">
                <div>
                    <article class="media" id="breetCard">
                        <figure class="media-left image is-128x128">
                            <img src="<%=breet.pfp%>">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>
                                        <%=breet.username%>
                                    </strong> <small>
                                        @<%=breet.userAcc%>
                                    </small> <small>
                                        <%=breet.postDate%>
                                    </small>
                                    <br>
                                <form form method="POST" action="/breeta/<%=breet.id%>/?_method=PATCH">
                                    <section>
                                        <label for="breetText">Comment Text</label>
                                        <br>

                                        <textarea class="textarea is-link"
                                            name="breetText"><%=breet.breetText%></textarea>
                                    </section>
                                    <button class="button is-link">Don't Britta it again!</button>
                                    <a class="button" href="/breeta">Cancel</a>
                                </form>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <%- include("partials/footer.ejs") %>