<%- include("partials/header.ejs")%>
    <%- include("partials/navbar.ejs")%>
        <%- include("partials/sidebar.ejs")%>

            <div class="column is-8" id="breetList">

                <div>
                    <% for(let b of breets){ %>
                        <%if(currUser.following.find((e)=> e.id === b.userID)){%>
                            <a href="/breeta/show/<%=b.id%>" class="link">
                                <article class="media" id="breetCard">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <img src="<%=b.pfp%>">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>
                                                    <%=b.username%>
                                                </strong> <small>
                                                    <a href="/breeta/users/<%=b.userAcc%>" class="link">
                                                        @<%=b.userAcc%>
                                                    </a>
                                                </small> <small>
                                                    <%=functions.timeCall(b.postDate)%>

                                                </small>
                                                <br>
                                                <a href="/breeta/show/<%=b.id%>" class="link">
                                                    <%=b.breetText%>
                                                </a>
                            </a>
                            </p>
                </div>
            </div>
            <%if(b.userAcc===currUser.userAcc){%>
                <div class="media">
                    <form method="get" action="/breeta/<%=b.id%>/edit">
                        <button class="button"><span class="icon"><i class="fa-solid fa-pencil"></i></span></button>
                    </form>
                    <div class="media-right">
                        <form method="POST" action="/breeta/<%= b.id %>/?_method=DELETE">
                            <button class="button"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                    <%}%>
                        <% if(b.image){%>
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="<%=b.image%>" alt="Placeholder image">
                                </figure>
                            </div>
                            <%}%>
                                </article>
                                <nav class="level is-mobile">
                                    <div class="level">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small">
                                                <a
                                                    href="/breeta/like?likorAcc=<%=currUser.userAcc%>&likeeAcc=<%=b.userAcc%>&breetID=<%=b.id%>"><i
                                                        class="fas fa-heart<%if(b.likes.find(e => e === currUser.userAcc)){%> has-text-danger<%}%>"></i>
                                                    <%if(b.likesCount> 0){%><%=b.likesCount%>
                                                            <%}%>
                                                </a></span>
                                        </a>
                                    </div>
                                </nav>
                                <%}%>
                                    <% }%>

                </div>
                </div>

                <%- include("partials/footer.ejs")%>