<%- include("partials/header.ejs") %>
    <%- include("partials/navbar.ejs")%>
        <%- include("partials/sidebar.ejs") %>
            <div class="column is-8" id="breetList">
                <div>
                    <article class="media" id="breetCard">
                        <figure class="media-left image is-128x128">
                            <img src="<%=currUser.pfp%>">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>
                                        <%=currUser.username%>
                                    </strong> <small>
                                        @<%=currUser.userAcc%>
                                    </small> <small>
                                        <%=currUser.postDate%>
                                    </small>
                                    <br>
                                <form action="/breeta" method="post">
                                    <section>
                                        <label for="breetText">Comment Text</label>
                                        <br>

                                        <textarea class="textarea is-link" name="breetText"
                                            placeholder="Britta FTW"></textarea>
                                    </section>
                                    <button class="button is-link">Breet!</button>
                                    <a class="button" href="/breeta">Cancel</a>
                                </form>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <%- include("partials/footer.ejs") %>